.ProgressBar_containerStyles__64JVf {
    position: relative;
    height: 4px;
    width: 100%;
    background-color: #c8facd;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.ProgressBar_containerStyles__64JVf .ProgressBar_labelStyles__GpL3D {
    position: absolute;
    top: -7px;
    right: -35px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #475467
}

.Progress_progressContainer__Q8eRI {
    width: 95%;
    padding-top: 25px
}

@media(max-width: 860px) {
    .Progress_progressContainer__Q8eRI {
        width:90%
    }
}

@media(max-width: 370px) {
    .Progress_progressContainer__Q8eRI {
        width:85%
    }
}

.Progress_progressContainer__Q8eRI .Progress_progress__XMVjd {
    width: 100%;
    height: 4px;
    border-radius: 25px;
    background: #f1f5f8
}

.UploaderInput_uploadArea__tS2Wy {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #4bc0c8;
    border-radius: 50%;
    cursor: pointer
}

.UploaderInput_uploadArea__tS2Wy:hover {
    background-color: #34a4ac
}

.UploaderInput_uploadArea__tS2Wy svg {
    width: 40px;
    height: 40px
}

@media(max-width: 800px) {
    .UploaderInput_uploadArea__tS2Wy svg {
        width:30px;
        height: 30px
    }
}

.UploaderInput_uploadArea__tS2Wy svg path {
    fill: #fff
}

.UploaderInput_container__99w_y {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #d2d2d2;
    border-radius: 50%
}

.UploaderInput_container__99w_y>div:first-child {
    max-width: 112px!important;
    max-height: 112px!important;
    min-width: 112px!important;
    min-height: 112px!important
}

@media(max-width: 800px) {
    .UploaderInput_container__99w_y>div:first-child {
        max-width:60px!important;
        max-height: 60px!important;
        min-width: 60px!important;
        min-height: 60px!important
    }
}

.UploaderInput_container__99w_y .UploaderInput_image__qIZOu {
    border-radius: 50%;
    object-fit: cover
}

.UploaderInput_container__99w_y .UploaderInput_uploader__UHIIw {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    cursor: pointer;
    opacity: 0
}

.UploaderInput_container__99w_y .UploaderInput_uploader__UHIIw:hover {
    opacity: 1
}

.UploaderInput_container__99w_y .UploaderInput_uploader__UHIIw svg {
    width: 40px;
    height: 40px
}

@media(max-width: 800px) {
    .UploaderInput_container__99w_y .UploaderInput_uploader__UHIIw svg {
        width:30px;
        height: 30px
    }
}

.UploaderInput_container__99w_y .UploaderInput_uploader__UHIIw svg path {
    fill: #fff
}

.UploaderInput_imageUploaderInput__1Uy4D {
    width: 0;
    height: 0;
    opacity: 0
}

.AvatarLetter_container__MnU2Y {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-transform: uppercase;
    color: #fff;
    background-color: #4bc0c8;
    border-radius: 8px;
    margin: 0
}

.SuggestionsCard_notificationCards__BMS8i {
    width: 100%;
    overflow-x: auto;
    margin-top: 30px
}

.SuggestionsCard_notificationCards__BMS8i::-webkit-scrollbar {
    height: 3px
}

.SuggestionsCard_notificationCards__BMS8i .SuggestionsCard_cardContainer__DoJUN {
    width: 100%;
    min-width: 200px;
    padding: 20px 25px;
    background-color: #f1f5f8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer
}

.SuggestionsCard_notificationCards__BMS8i .SuggestionsCard_cardContainer__DoJUN:hover {
    background-color: #e0e9f0
}

.SuggestionsCard_notificationCards__BMS8i .SuggestionsCard_cardContainer__DoJUN .SuggestionsCard_iconContainer__DueDY {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    padding: 20px 25px;
    border-radius: 50%;
    margin-right: 16px;
    background: linear-gradient(135deg,rgba(0,123,85,0),rgba(0,123,85,.24) 97.35%)
}

@media(max-width: 450px) {
    .SuggestionsCard_notificationCards__BMS8i .SuggestionsCard_cardContainer__DoJUN .SuggestionsCard_iconContainer__DueDY {
        width:50px;
        height: 50px
    }
}

.SuggestionsCard_notificationCards__BMS8i .SuggestionsCard_cardContainer__DoJUN .SuggestionsCard_iconContainer__DueDY .SuggestionsCard_icon__Sj_Dt {
    min-width: 25px
}

@media(max-width: 450px) {
    .SuggestionsCard_notificationCards__BMS8i .SuggestionsCard_cardContainer__DoJUN .SuggestionsCard_iconContainer__DueDY .SuggestionsCard_icon__Sj_Dt {
        min-width:18px
    }
}

.SuggestionsCard_notificationCards__BMS8i .SuggestionsCard_cardContainer__DoJUN h3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #3f8cff
}

@media(max-width: 450px) {
    .SuggestionsCard_notificationCards__BMS8i .SuggestionsCard_cardContainer__DoJUN h3 {
        font-size:14px;
        line-height: 18px
    }
}

.Suggestions_notificationContainer__G9O8t {
    width: 100%;
    overflow: hidden
}

.Suggestions_notificationContainer__G9O8t::-webkit-scrollbar {
    display: none
}

.Suggestions_notificationContainer__G9O8t h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #242423
}

@media(max-width: 450px) {
    .Suggestions_notificationContainer__G9O8t h1 {
        font-size:20px
    }
}

.Suggestions_notificationContainer__G9O8t p {
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #9697a8
}

.ResumeVariantsModal_container__hqiG7 {
    background-color: #fff;
    box-shadow: 0 13px 31px rgba(12,20,33,.04),0 9.45547px 20.8947px rgba(12,20,33,.032),0 6.58125px 13.5141px rgba(12,20,33,.027),0 4.31641px 8.38574px rgba(12,20,33,.023),0 2.6px 5.0375px rgba(12,20,33,.02),0 1.37109px 2.99707px rgba(12,20,33,.017),0 .56875px 1.79219px rgba(12,20,33,.013),inset 0 2px 1px #fff;
    border-radius: 8px;
    padding: 56px 32px
}

@media(max-width: 550px) {
    .ResumeVariantsModal_container__hqiG7 {
        padding:32px
    }
}

.ResumeVariantsModal_container__hqiG7 .ResumeVariantsModal_title__vwEkL {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #242423;
    margin-bottom: 32px
}

.ResumeVariantsModal_container__hqiG7 .ResumeVariantsModal_variantsContainer__Z_mpI {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 32px;
    margin-bottom: 32px
}

@media(max-width: 700px) {
    .ResumeVariantsModal_container__hqiG7 .ResumeVariantsModal_variantsContainer__Z_mpI {
        grid-template-columns:1fr 1fr
    }
}

@media(max-width: 550px) {
    .ResumeVariantsModal_container__hqiG7 .ResumeVariantsModal_variantsContainer__Z_mpI {
        grid-template-columns:1fr
    }
}

.ResumeVariantsModal_container__hqiG7 .ResumeVariantsModal_variantsContainer__Z_mpI .ResumeVariantsModal_variantContainer__eKtM7 {
    display: flex;
    flex-direction: column;
    align-items: center
}

@media(max-width: 700px)and (min-width:551px) {
    .ResumeVariantsModal_container__hqiG7 .ResumeVariantsModal_variantsContainer__Z_mpI .ResumeVariantsModal_variantContainer__eKtM7:last-child {
        grid-area:2/1/3/3
    }
}

.ResumeVariantsModal_container__hqiG7 .ResumeVariantsModal_variantsContainer__Z_mpI .ResumeVariantsModal_variantContainer__eKtM7 .ResumeVariantsModal_imageButton__Smz1_ {
    border-color: #f1f5f8;
    border-style: solid;
    border-width: 16px 20px;
    border-radius: 8px;
    background-color: transparent;
    transition: none;
    margin-bottom: 16px
}

.ResumeVariantsModal_container__hqiG7 .ResumeVariantsModal_variantsContainer__Z_mpI .ResumeVariantsModal_variantContainer__eKtM7 .ResumeVariantsModal_imageButton__Smz1_:hover {
    border-color: #cfdde7
}

.ResumeVariantsModal_container__hqiG7 .ResumeVariantsModal_variantsContainer__Z_mpI .ResumeVariantsModal_variantContainer__eKtM7 .ResumeVariantsModal_imageButton__Smz1_.ResumeVariantsModal_active__yJInr {
    border-color: #3f8cff
}

@media(max-width: 550px) {
    .ResumeVariantsModal_container__hqiG7 .ResumeVariantsModal_variantsContainer__Z_mpI .ResumeVariantsModal_variantContainer__eKtM7 .ResumeVariantsModal_imageButton__Smz1_ {
        border-width:10px
    }
}

.ResumeVariantsModal_container__hqiG7 .ResumeVariantsModal_variantsContainer__Z_mpI .ResumeVariantsModal_variantContainer__eKtM7 .ResumeVariantsModal_variantName__v1KU4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #475467
}

.ResumeVariantsModal_container__hqiG7 .ResumeVariantsModal_buttonsContainer__wBoF6 {
    display: flex;
    justify-content: flex-end
}

@media(max-width: 450px) {
    .ResumeVariantsModal_container__hqiG7 .ResumeVariantsModal_buttonsContainer__wBoF6 {
        flex-direction:column-reverse;
        justify-content: flex-start
    }
}

.ResumeVariantsModal_container__hqiG7 .ResumeVariantsModal_buttonsContainer__wBoF6>:first-child {
    margin-right: 16px
}

@media(max-width: 450px) {
    .ResumeVariantsModal_container__hqiG7 .ResumeVariantsModal_buttonsContainer__wBoF6>:first-child {
        margin:16px 0 0
    }
}

.section_section__L8tN3 {
    display: block
}

.section_section__L8tN3.section_littleMargin__lpJws {
    margin-bottom: -40px
}

.section_sectionLanguages__zsunJ .section_sectionRow__nWFNW,.section_sectionSkills__ty6A0 .section_sectionRow__nWFNW {
    display: flex
}

.section_sectionLanguages__zsunJ .section_button__LnPWb,.section_sectionSkills__ty6A0 .section_button__LnPWb {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 40px
}

.section_sectionLanguages__zsunJ .section_button__LnPWb:first-child,.section_sectionSkills__ty6A0 .section_button__LnPWb:first-child {
    margin-right: 16px
}

@media(max-width: 600px) {
    .section_sectionLanguages__zsunJ .section_langsContainerClassName__IxdUT,.section_sectionSkills__ty6A0 .section_langsContainerClassName__IxdUT {
        flex-direction:column
    }

    .section_sectionLanguages__zsunJ .section_langsContainerClassName__IxdUT>:first-child,.section_sectionSkills__ty6A0 .section_langsContainerClassName__IxdUT>:first-child {
        margin: 0 0 20px!important
    }
}

.section_sectionHeader__vJg5e {
    margin-bottom: 24px
}

@media(max-width: 620px) {
    .section_sectionHeader__vJg5e {
        flex-direction:column;
        align-items: flex-start
    }
}

@media(max-width: 500px) {
    .section_sectionHeader__vJg5e {
        margin-bottom:16px
    }
}

.section_sectionHeader__vJg5e .section_inner__xkBRc {
    display: flex;
    align-items: center
}

.section_sectionHeader__vJg5e .section_inner__xkBRc.section_hasButtons__tPO_y {
    flex-wrap: wrap
}

.section_sectionHeader__vJg5e .section_inner__xkBRc .section_title__nKumq {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #475467;
    margin-right: 12px
}

@media(max-width: 500px) {
    .section_sectionHeader__vJg5e .section_inner__xkBRc .section_title__nKumq {
        font-size:20px
    }
}

.section_sectionHeader__vJg5e .section_inner__xkBRc .section_addButton__4w6Nn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    min-width: 28px;
    height: 28px;
    min-height: 28px;
    border: none;
    outline: none;
    background-color: #3f8cff;
    border-radius: 50%;
    cursor: pointer
}

.section_sectionHeader__vJg5e .section_inner__xkBRc .section_addButton__4w6Nn:hover {
    background-color: #a5c9ff
}

.section_sectionHeader__vJg5e .section_noDataText__YLXzb {
    display: inline-flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #9697a8;
    margin-top: 8px
}

.section_sectionHeader__vJg5e .section_noDataText__YLXzb .section_infoIcon__zM_Jd {
    width: 37px;
    height: 18px;
    padding-left: 4px
}

.section_sectionHeader__vJg5e .section_btnContainer__F97_B {
    display: flex;
    align-items: center;
    margin-left: auto
}

.section_sectionHeader__vJg5e .section_btnContainer__F97_B .section_button__LnPWb {
    margin-right: 16px
}

@media(max-width: 1400px) {
    .section_sectionHeader__vJg5e .section_btnContainer__F97_B {
        width:100%;
        flex-wrap: wrap
    }

    .section_sectionHeader__vJg5e .section_btnContainer__F97_B>* {
        margin: 16px 16px 0 0
    }
}

@media(max-width: 400px) {
    .section_sectionHeader__vJg5e .section_btnContainer__F97_B {
        flex-direction:column;
        align-items: flex-start
    }

    .section_sectionHeader__vJg5e .section_btnContainer__F97_B>* {
        width: 100%;
        margin: 16px 0 0
    }
}

.section_sectionBody__9NbRT {
    display: grid;
    grid-row-gap: 24px;
    border-radius: 8px
}

.section_sectionBody__9NbRT .section_infoCardContainer__Z9LV7 {
    position: relative;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px
}

@media(max-width: 500px) {
    .section_sectionBody__9NbRT .section_infoCardContainer__Z9LV7 {
        padding:20px
    }
}

.section_sectionBody__9NbRT .section_infoCardContainer__Z9LV7 .section_headerContainer__gdfGZ {
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 28px;
    margin-bottom: 20px
}

.section_sectionBody__9NbRT .section_infoCardContainer__Z9LV7 .section_headerContainer__gdfGZ .section_title__nKumq {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #475467;
    padding-right: 76px
}

@media(max-width: 500px) {
    .section_sectionBody__9NbRT .section_infoCardContainer__Z9LV7 .section_headerContainer__gdfGZ .section_title__nKumq {
        font-size:20px
    }
}

.section_sectionBody__9NbRT .section_infoCardContainer__Z9LV7 .section_headerContainer__gdfGZ .section_subtitle__BG6in {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #475467;
    margin-top: 12px
}

.section_sectionBody__9NbRT .section_infoCardContainer__Z9LV7 .section_detailsContainer__x17GC {
    display: grid;
    grid-template-columns: auto auto auto
}

.section_sectionBody__9NbRT .section_infoCardContainer__Z9LV7 .section_detailsContainer__x17GC.section_fourColumns__g19Kn {
    grid-template-columns: auto auto auto auto
}

@media(max-width: 1200px) {
    .section_sectionBody__9NbRT .section_infoCardContainer__Z9LV7 .section_detailsContainer__x17GC.section_fourColumns__g19Kn {
        grid-template-columns:auto auto
    }

    .section_sectionBody__9NbRT .section_infoCardContainer__Z9LV7 .section_detailsContainer__x17GC.section_fourColumns__g19Kn>:nth-child(3),.section_sectionBody__9NbRT .section_infoCardContainer__Z9LV7 .section_detailsContainer__x17GC.section_fourColumns__g19Kn>:nth-child(4) {
        margin-top: 20px
    }
}

@media(max-width: 500px) {
    .section_sectionBody__9NbRT .section_infoCardContainer__Z9LV7 .section_detailsContainer__x17GC {
        grid-template-columns:1fr!important
    }

    .section_sectionBody__9NbRT .section_infoCardContainer__Z9LV7 .section_detailsContainer__x17GC>:not(:first-child) {
        margin-top: 20px
    }
}

.section_sectionBody__9NbRT .section_infoCardContainer__Z9LV7 .section_detailsContainer__x17GC .section_title__nKumq {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #475467
}

.section_sectionBody__9NbRT .section_infoCardContainer__Z9LV7 .section_footerContainer__I8XGD {
    margin-top: 20px
}

.section_sectionBody__9NbRT .section_infoCardContainer__Z9LV7 .section_footerContainer__I8XGD .section_title__nKumq {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #8692a6;
    margin-bottom: 4px
}

.section_sectionBody__9NbRT .section_infoCardContainer__Z9LV7 .section_footerContainer__I8XGD .section_text__5mr_e {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #475467;
    white-space: pre-line
}

.section_section__L8tN3 .section_link__8KTMc {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #3558ae
}

.section_section__L8tN3 .section_link__8KTMc:hover {
    text-decoration: underline
}

.section_section__L8tN3 .section_suptitle__tbgfi {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #8692a6;
    margin-bottom: 4px
}

.section_sectionContainer__sND5v {
    background-color: #f1f1f1;
    padding: 20px 24px;
    border-radius: 8px
}

.section_sectionRow__nWFNW {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 24px 14px
}

.section_sectionRow__nWFNW h6 {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: .002em;
    color: #8692a6;
    margin-bottom: 4px
}

.section_sectionRow__nWFNW .section_sectionActive__qcANB {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #3f8cff
}

.section_sectionRow__nWFNW p {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #475467
}

@media(max-width: 767px) {
    .section_sectionRow__nWFNW p {
        font-size:16px
    }
}

.section_sectionRow__nWFNW p.section_sectionMuted__pj4B6 {
    color: #8692a6
}

.section_sectionRow__nWFNW a {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #3f8cff;
    text-decoration: underline
}

@media(max-width: 767px) {
    .section_sectionRow__nWFNW a {
        font-size:16px
    }
}

.section_sectionRow__nWFNW .section_sectionAdd__0fcRn {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1/1/2/6;
    background-color: #f1f1f1;
    border: 1px dashed #8692a6;
    border-radius: 8px;
    cursor: pointer;
    margin: -13px -20px
}

@media(max-width: 767px) {
    .section_sectionRow__nWFNW .section_sectionAdd__0fcRn {
        flex:1 1
    }
}

.section_sectionRow__nWFNW .section_sectionAdd__0fcRn:hover {
    background-color: #e7e7e7
}

.section_sectionRow__nWFNW .section_sectionAdd__0fcRn .section_icon__6Y2Lb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background-color: #3f8cff;
    border-radius: 50%;
    padding: 7px
}

@media(max-width: 767px) {
    .section_sectionRow__nWFNW {
        display:flex;
        flex-wrap: wrap
    }

    .section_sectionRow__nWFNW>* {
        width: 40%
    }
}

@media(max-width: 500px) {
    .section_sectionRow__nWFNW>* {
        width:100%
    }
}

.section_sectionFullCol__kgPgU {
    grid-area: 2/1/3/6
}

.section_sectionDescTitle__DoNOW {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: .002em;
    color: #475467;
    margin-bottom: 6px
}

.section_sectionText___CyH3 {
    white-space: pre-line;
    font-weight: 500!important;
    font-size: 16px!important;
    line-height: 19px!important;
    color: #475467!important
}

.section_section__L8tN3 .section_buttonsContainer__4YcXx {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 28px;
    right: 24px
}

.section_section__L8tN3 .section_buttonsContainer__4YcXx button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border: none;
    outline: none;
    background-color: #3f8cff;
    border-radius: 50%;
    cursor: pointer
}

.section_section__L8tN3 .section_buttonsContainer__4YcXx button:first-child {
    margin-right: 12px
}

.section_section__L8tN3 .section_buttonsContainer__4YcXx button:hover {
    background-color: #8cbaff
}

.section_section__L8tN3 .section_buttonsContainer__4YcXx button .section_icon__6Y2Lb {
    display: flex;
    justify-content: center;
    align-items: center
}

.section_sectionTags__mTXQN {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 20px 24px
}

.section_sectionTags__mTXQN.section_littlePadding__29zyF {
    padding-bottom: 12px
}

.section_sectionTags__mTXQN .section_tag__Nx65d {
    display: flex;
    align-items: center;
    position: relative;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    background-color: #111;
    border-radius: 100px;
    padding: 7.5px 12px;
    margin: 0 12px 8px 0
}

@media(max-width: 767px) {
    .section_sectionTags__mTXQN .section_tag__Nx65d {
        padding:7px 16px;
        margin: 0 10px 10px 0
    }
}

.section_cancelBtn___9dMM {
    font-size: 16px!important;
    padding: 14px 50px!important;
    margin-right: 10px
}

@media(max-width: 500px) {
    .section_cancelBtn___9dMM {
        font-size:14px!important;
        padding: 12px 40px!important
    }
}

@media(max-width: 380px) {
    .section_cancelBtn___9dMM {
        padding:12px 28px!important
    }
}

.section_submitBtn__rOBVz {
    font-size: 16px!important;
    padding: 14px 50px!important
}

@media(max-width: 500px) {
    .section_submitBtn__rOBVz {
        font-size:14px!important;
        padding: 12px 40px!important
    }
}

@media(max-width: 380px) {
    .section_submitBtn__rOBVz {
        padding:12px 28px!important
    }
}

.section_socialLink__r_Qbk,.section_socialLink__r_Qbk p {
    display: flex;
    align-items: center
}

.section_socialLink__r_Qbk p {
    word-break: break-all
}

.section_socialLink__r_Qbk p span {
    display: flex;
    align-items: center;
    margin-right: 10px
}

.section_select__fywPZ {
    background-color: #fff!important
}

.section_selectWrapper___mR12 {
    flex: 1 1
}

.section_icon__6Y2Lb {
    display: flex;
    justify-content: center;
    align-items: center
}

.section_editModal__8FmkI {
    width: 100%;
    padding: 80px 112px 56px
}

@media(max-width: 500px) {
    .section_editModal__8FmkI {
        padding-left:35px;
        padding-right: 35px
    }
}

.section_editModal__8FmkI .section_img__YE0Ht {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.section_editModal__8FmkI .section_title__nKumq {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 53px;
    color: #475467;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px
}

.section_editModal__8FmkI .section_actions__zdP7U {
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.section_editModal__8FmkI .section_actions__zdP7U>:not(:last-child) {
    margin-right: 16px!important
}

.section_editModal__8FmkI .section_actions__zdP7U .section_btn__xNgi3 {
    width: 123px;
    height: 40px
}

.section_modalBody__DfBZV {
    max-height: calc(100vh - 265px)
}

.Loader_ldsRoller__2Wrj8 {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px
}

.Loader_ldsRoller__2Wrj8 div {
    animation: Loader_ldsRoller__2Wrj8 1.2s cubic-bezier(.5,0,.5,1) infinite;
    transform-origin: 40px 40px
}

.Loader_ldsRoller__2Wrj8 div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #3f8cff;
    margin: -4px 0 0 -4px
}

.Loader_ldsRoller__2Wrj8 div:first-child {
    animation-delay: -36ms
}

.Loader_ldsRoller__2Wrj8 div:first-child:after {
    top: 63px;
    left: 63px
}

.Loader_ldsRoller__2Wrj8 div:nth-child(2) {
    animation-delay: -72ms
}

.Loader_ldsRoller__2Wrj8 div:nth-child(2):after {
    top: 68px;
    left: 56px
}

.Loader_ldsRoller__2Wrj8 div:nth-child(3) {
    animation-delay: -.108s
}

.Loader_ldsRoller__2Wrj8 div:nth-child(3):after {
    top: 71px;
    left: 48px
}

.Loader_ldsRoller__2Wrj8 div:nth-child(4) {
    animation-delay: -.144s
}

.Loader_ldsRoller__2Wrj8 div:nth-child(4):after {
    top: 72px;
    left: 40px
}

.Loader_ldsRoller__2Wrj8 div:nth-child(5) {
    animation-delay: -.18s
}

.Loader_ldsRoller__2Wrj8 div:nth-child(5):after {
    top: 71px;
    left: 32px
}

.Loader_ldsRoller__2Wrj8 div:nth-child(6) {
    animation-delay: -.216s
}

.Loader_ldsRoller__2Wrj8 div:nth-child(6):after {
    top: 68px;
    left: 24px
}

.Loader_ldsRoller__2Wrj8 div:nth-child(7) {
    animation-delay: -.252s
}

.Loader_ldsRoller__2Wrj8 div:nth-child(7):after {
    top: 63px;
    left: 17px
}

.Loader_ldsRoller__2Wrj8 div:nth-child(8) {
    animation-delay: -.288s
}

.Loader_ldsRoller__2Wrj8 div:nth-child(8):after {
    top: 56px;
    left: 12px
}

@keyframes Loader_ldsRoller__2Wrj8 {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.forms_form__70PoD {
    max-width: 100%;
    width: 700px;
    display: flex;
    flex-direction: column;
    padding: 32px
}

.forms_form__70PoD>:not(:last-child) {
    margin-bottom: 16px
}

@media(max-width: 500px) {
    .forms_form__70PoD {
        padding:20px
    }
}

.forms_form__70PoD .forms_imageContainer__LrFEX {
    display: flex;
    align-items: center
}

.forms_form__70PoD .forms_imageContainer__LrFEX .forms_imageTitle__OFjHI {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #475467;
    margin-left: 20px
}

.forms_form__70PoD .forms_inputGroup__v8TWE {
    display: flex
}

.forms_form__70PoD .forms_inputGroup__v8TWE>div:not(:last-child) {
    margin-right: 20px
}

.forms_form__70PoD .forms_inputGroup__v8TWE>div {
    flex: 1 1
}

@media(max-width: 400px) {
    .forms_form__70PoD .forms_inputGroup__v8TWE.forms_wrappable__cgbql {
        flex-direction:column
    }

    .forms_form__70PoD .forms_inputGroup__v8TWE.forms_wrappable__cgbql>div:not(:last-child) {
        margin: 0 0 16px
    }
}

.forms_form__70PoD .forms_inputWrapper__GbEQU {
    display: flex;
    flex-direction: column;
    height: 60px;
    position: relative;
    border-radius: 8px;
    background-color: #f1f1f1;
    padding: 20px 20px 0
}

.forms_form__70PoD .forms_inputWrapper__GbEQU.forms_error__EVT7P {
    border: 1px solid #fc474a
}

.forms_form__70PoD .forms_label__uidyk {
    position: absolute;
    top: 9px;
    left: 20px;
    font-size: 10px;
    font-weight: 500;
    color: #8692a6;
    cursor: text;
    transition: all .2s ease
}

.forms_form__70PoD .forms_title__0jbZk {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #475467;
    margin-bottom: 12px
}

.forms_infoText__ByWw3 {
    color: #8692a6;
    font-size: 12px;
    margin-top: -10px
}

.forms_textError__CvgwF {
    font-size: 12px;
    color: #fc474a
}

.forms_uploadBox__G0bcj {
    cursor: pointer;
    width: 100%;
    position: relative
}

.forms_uploadBox__G0bcj input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0
}

.forms_uploadBox__G0bcj label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3f8cff;
    font-size: 18px;
    border-radius: 8px;
    background-color: #f1f1f1;
    border: 1px dashed #d2d2d2;
    padding: 20px 0
}

.forms_uploadBox__G0bcj label span {
    color: #475467
}

.forms_multiSelectContainer__Xhks5 {
    border: 1px solid #d2d2d2;
    border-radius: 8px;
    background-color: transparent;
    padding: 20px 24px
}

.forms_multiSelectContainer__Xhks5.forms_error__EVT7P {
    border: 1px solid #fc474a
}

@media(max-width: 500px) {
    .forms_multiSelectContainer__Xhks5 {
        padding:20px
    }
}

.forms_checkboxContainer___8ykY {
    margin: 10px 0 26px!important
}

@media(max-width: 600px) {
    .forms_langsContainerClassName___LXhg {
        flex-direction:column
    }

    .forms_langsContainerClassName___LXhg>:first-child {
        margin: 0 0 16px!important
    }
}

.forms_applyUSContainer__k2UyH {
    display: grid;
    grid-gap: 16px;
    gap: 16px
}

.forms_questionContainer__RXyfC {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.forms_questionContainer__RXyfC * {
    color: #475467!important
}

.forms_questionTitle__Jwloe {
    color: #475467;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin-right: 20px
}

@media(max-width: 600px) {
    .forms_questionTitle__Jwloe {
        font-size:14px
    }
}

.customselect_wrapper__p_mya {
    display: flex;
    flex-direction: column
}

.customselect_wrapper__p_mya .customselect_select__65tci {
    position: relative;
    height: 60px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #d2d2d2;
    border-radius: 4px
}

.customselect_wrapper__p_mya .customselect_select__65tci:focus {
    border-color: #4bc0c8
}

.customselect_wrapper__p_mya .customselect_select__65tci.customselect_disabled__wUwI_:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,95%,.7)
}

.customselect_wrapper__p_mya .customselect_select__65tci.customselect_error__Dgxja {
    border: 1px solid #fc474a
}

.customselect_wrapper__p_mya .customselect_select__65tci .customselect_placeholder__5N2kD {
    position: absolute;
    top: 13px;
    left: 20px;
    font-size: 12px;
    font-weight: 500;
    color: #8692a6;
    transition: all .2s ease
}

.customselect_wrapper__p_mya .customselect_select__65tci .customselect_placeholder__5N2kD .customselect_asterisk__Mt_Oj {
    position: absolute;
    top: -4px;
    right: -15px;
    color: red;
    font-size: 24px
}

.customselect_wrapper__p_mya .customselect_textError__1P9fN {
    margin-top: 8px;
    font-size: 12px;
    color: #fc474a
}

.customselect_badge__WAmh_ {
    position: absolute;
    top: -4px;
    right: -5px;
    color: #fff;
    background-color: #fc474a;
    font-size: 12px;
    width: 15px;
    text-align: center;
    border-radius: 50%
}

.Details_detailsContainer__aQduN {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    gap: 16px;
    margin-bottom: 42px
}

@media(max-width: 1150px) {
    .Details_detailsContainer__aQduN {
        grid-template-columns:1fr 1fr 1fr
    }
}

@media(max-width: 850px) {
    .Details_detailsContainer__aQduN {
        gap:24px;
        grid-template-columns: 1fr
    }
}

.Details_detailsContainer__aQduN .Details_detailItem__CyihG {
    border-left: 3px solid #8692a6;
    padding-left: 12px
}

.Details_detailsContainer__aQduN .Details_detailItem__CyihG h6 {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #8692a6
}

.Details_detailsContainer__aQduN .Details_detailItem__CyihG a,.Details_detailsContainer__aQduN .Details_detailItem__CyihG span {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #475467;
    word-break: break-word
}

.Details_detailsContainer__aQduN .Details_detailItem__CyihG a {
    color: #3f8cff;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline
}

.Description_descriptionContainer__58xrc h6 {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #8692a6;
    margin-bottom: 4px
}

.Description_descriptionContainer__58xrc .Description_text__doMlu {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #475467
}

.Header_headerContainer__JVOf3 {
    display: flex;
    align-items: center;
    margin-bottom: 32px
}

.Header_headerContainer__JVOf3 .Header_logo__Lsixg {
    border-radius: 50%!important;
    object-fit: cover
}

.Header_headerContainer__JVOf3 .Header_infoContainer___pCBj {
    margin-left: 24px
}

@media(max-width: 500px) {
    .Header_headerContainer__JVOf3 .Header_infoContainer___pCBj {
        margin-left:10px
    }
}

.Header_headerContainer__JVOf3 .Header_infoContainer___pCBj h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: #242423;
    margin-bottom: 6px
}

@media(max-width: 800px) {
    .Header_headerContainer__JVOf3 .Header_infoContainer___pCBj h2 {
        font-size:22px;
        line-height: 20px
    }
}

@media(max-width: 500px) {
    .Header_headerContainer__JVOf3 .Header_infoContainer___pCBj h2 {
        font-size:18px
    }
}

.Header_headerContainer__JVOf3 .Header_infoContainer___pCBj .Header_locationContainer__o7mV4 {
    display: flex;
    align-items: center
}

.Header_headerContainer__JVOf3 .Header_infoContainer___pCBj .Header_locationContainer__o7mV4 span {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #475467;
    margin-left: 8px
}

@media(max-width: 800px) {
    .Header_headerContainer__JVOf3 .Header_infoContainer___pCBj .Header_locationContainer__o7mV4 span {
        font-size:12px;
        margin-left: 5px
    }
}

.SocialNetworksView_container__oQwoP {
    margin-top: 34px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr
}

@media(min-width: 1550px) {
    .SocialNetworksView_container__oQwoP {
        grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr
    }
}

@media(max-width: 800px) {
    .SocialNetworksView_container__oQwoP {
        grid-template-columns:1fr 1fr 1fr
    }
}

@media(max-width: 600px) {
    .SocialNetworksView_container__oQwoP {
        grid-template-columns:1fr 1fr
    }
}

@media(max-width: 450px) {
    .SocialNetworksView_container__oQwoP {
        grid-template-columns:1fr
    }
}

.SocialNetworksView_container__oQwoP .SocialNetworksView_card__9QlPF {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    filter: grayscale(1);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #475467
}

.SocialNetworksView_container__oQwoP .SocialNetworksView_card__9QlPF:not(:last-child) {
    margin-right: 32px
}

.SocialNetworksView_container__oQwoP .SocialNetworksView_card__9QlPF.SocialNetworksView_active__t1e7X {
    filter: unset
}

.SocialNetworksView_container__oQwoP .SocialNetworksView_card__9QlPF span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px
}

@media(max-width: 450px) {
    .SocialNetworksView_container__oQwoP .SocialNetworksView_card__9QlPF span {
        max-width:150px
    }
}

.SocialNetworksView_container__oQwoP .SocialNetworksView_card__9QlPF svg {
    margin-right: 12px
}

.Main_container__DZBek {
    width: 100%;
    background-color: #f1f1f1;
    padding: 32px 36px;
    border-radius: 8px
}

@media(max-width: 500px) {
    .Main_container__DZBek {
        padding:20px
    }
}

.phoneinput_inputWrapper__bkWZv {
    display: flex;
    flex-direction: column;
    height: 60px;
    position: relative;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #d2d2d2;
    padding: 20px 20px 0
}

.phoneinput_inputWrapper__bkWZv.phoneinput_error__yjORs {
    border: 1px solid #fc474a
}

.phoneinput_inputWrapper__bkWZv .phoneinput_label__nxh9n {
    position: absolute;
    top: 5px;
    left: 20px;
    font-size: 12px;
    font-weight: 500;
    color: #8692a6;
    cursor: text;
    transition: all .2s ease
}

.phoneinput_containerClass__DfBVc {
    height: 100%!important
}

.phoneinput_dropdownClass__AXBKu {
    background-color: hsla(0,0%,100%,.99)!important
}

.phoneinput_buttonClass___17th {
    height: 31px;
    top: 50%!important;
    transform: translateY(-50%)!important;
    border-radius: 4px!important;
    background-color: #fff!important
}

.phoneinput_inputClass__qnpFe {
    width: 100%!important;
    height: 100%!important;
    color: #475467!important;
    font-size: 14px!important;
    background-color: transparent!important;
    border: none!important
}

.DatePicker_customInput__qzO3W {
    width: 100%;
    height: 40px;
    z-index: 10
}

.DatePicker_wrapper___xZbz {
    position: relative;
    width: 100%
}

.DatePicker_wrapper___xZbz .DatePicker_input__nXGQj {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 60px;
    color: #475467;
    font-size: 14px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #d2d2d2;
    padding: 12px 20px 0
}

.DatePicker_wrapper___xZbz .DatePicker_input__nXGQj.DatePicker_error__cKBJ5 {
    border: 1px solid #fc474a
}

.DatePicker_wrapper___xZbz .DatePicker_label__ne2Ko {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 12px;
    font-weight: 500;
    color: #8692a6;
    cursor: text;
    transition: all .2s ease
}

.DatePicker_wrapper___xZbz .DatePicker_label__ne2Ko .DatePicker_asterisk__Xw_5j {
    position: absolute;
    top: -4px;
    right: -15px;
    color: #fc474a;
    font-size: 24px
}

.DatePicker_errorText__QnspD {
    margin-top: 8px;
    font-size: 12px;
    color: #fc474a
}

.DatePicker_helpText__W2UkX {
    margin-top: 8px;
    font-size: 12px;
    color: #9697a8
}

.customselect_wrapper__YFJ5A {
    display: flex;
    flex-direction: column
}

.customselect_wrapper__YFJ5A .customselect_select__5zd9_ {
    display: flex;
    align-items: center;
    position: relative;
    background-color: transparent;
    border-radius: 8px
}

.customselect_wrapper__YFJ5A .customselect_select__5zd9_ .customselect_placeholder__AfL0i {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #475467;
    text-transform: capitalize;
    margin-right: 16px
}

.customselect_wrapper__YFJ5A .customselect_select__5zd9_ .customselect_asterisk__dcgKG {
    position: absolute;
    top: -4px;
    right: -15px;
    color: red;
    font-size: 24px
}

.customselect_wrapper__YFJ5A .customselect_select__5zd9_ .customselect_asteriskFixed__Ysx8e {
    color: red;
    font-size: 24px
}

@media(max-width: 500px) {
    .customselect_wrapper__YFJ5A .customselect_select__5zd9_ {
        flex-direction:column;
        align-items: flex-start
    }

    .customselect_wrapper__YFJ5A .customselect_select__5zd9_ .customselect_placeholder__AfL0i {
        margin-bottom: 12px
    }
}

.customselect_wrapper__YFJ5A .customselect_textError__PsTF1 {
    margin-top: 8px;
    font-size: 12px;
    color: #fc474a
}

.SocialNetworks_container__CfwVf {
    width: 100%;
    display: flex;
    flex-wrap: wrap
}

.SocialNetworks_container__CfwVf .SocialNetworks_heading__W4Ed5 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #475467;
    margin-bottom: 12px
}

@media(max-width: 600px) {
    .SocialNetworks_container__CfwVf .SocialNetworks_heading__W4Ed5 {
        font-size:20px
    }
}

.SocialNetworks_container__CfwVf .SocialNetworks_card__BNYQa {
    position: relative;
    width: 68px;
    height: 68px;
    border: 1px solid #d2d2d2;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px
}

.SocialNetworks_container__CfwVf .SocialNetworks_card__BNYQa:not(:last-child) {
    margin-right: 20px
}

.SocialNetworks_container__CfwVf .SocialNetworks_card__BNYQa svg {
    width: 32px;
    height: 32px
}

.SocialNetworks_container__CfwVf .SocialNetworks_card__BNYQa:hover .SocialNetworks_plus__hlb5x {
    opacity: 1;
    transition: all .3s ease
}

.SocialNetworks_container__CfwVf .SocialNetworks_card__BNYQa .SocialNetworks_plus__hlb5x {
    opacity: 0;
    transition: all .3s ease;
    background: rgba(0,64,84,.82);
    width: 68px;
    height: 68px;
    position: absolute;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center
}

.SocialNetworks_container__CfwVf .SocialNetworks_card__BNYQa .SocialNetworks_plus__hlb5x svg {
    width: 19px;
    height: 19px
}

.SocialNetworks_container__CfwVf .SocialNetworks_icon__P6ERA {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px
}

.SocialNetworks_container__CfwVf .SocialNetworks_icon__P6ERA svg {
    width: 24px;
    height: 24px
}

.SocialNetworks_container__CfwVf .SocialNetworks_inputCard___xqI2 {
    margin-top: 24px;
    width: 100%;
    display: flex;
    border: 1px solid #d2d2d2;
    padding: 18px 22px;
    border-radius: 8px
}

.SocialNetworks_container__CfwVf .SocialNetworks_inputCard___xqI2 input {
    width: 100%
}

.SocialNetworks_iconMinus__DBdUW {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    border-radius: 50%;
    cursor: pointer;
    padding: 6px
}

.SocialNetworks_iconMinus__DBdUW:hover {
    background-color: #d8d8d8
}

.LanguagePicker_container__T01bp .LanguagePicker_dropdownContainer__3crnV {
    display: flex
}

.LanguagePicker_container__T01bp .LanguagePicker_dropdownContainer__3crnV>* {
    flex: 1 1
}

.LanguagePicker_container__T01bp .LanguagePicker_dropdownContainer__3crnV>:first-child {
    margin-right: 20px
}

.LanguagePicker_container__T01bp .LanguagePicker_helpText__zUHZ_ {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #9697a8;
    margin-top: 8px
}

.LanguagePicker_container__T01bp .LanguagePicker_helpText__zUHZ_ .LanguagePicker_infoIcon__ZJNdA {
    display: flex;
    margin-right: 5px
}

.LanguagePicker_container__T01bp .LanguagePicker_helpText__zUHZ_ a {
    color: #3558ae;
    font-weight: 700
}

.LanguagePicker_container__T01bp .LanguagePicker_helpText__zUHZ_ a:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline
}

.LanguagePicker_container__T01bp .LanguagePicker_tags__0s3fp {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 16px
}

.LanguagePicker_container__T01bp .LanguagePicker_tags__0s3fp.LanguagePicker_hasTagsContainer__8GJmj {
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 20px 24px 8px
}

.LanguagePicker_container__T01bp .LanguagePicker_tags__0s3fp.LanguagePicker_littlePadding__sJz3S {
    padding-bottom: 4px
}

.LanguagePicker_container__T01bp .LanguagePicker_tags__0s3fp .LanguagePicker_tag__WH5Ty {
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    background-color: #475467;
    border-radius: 6px;
    margin: 0 16px 16px 0
}

@media(max-width: 767px) {
    .LanguagePicker_container__T01bp .LanguagePicker_tags__0s3fp .LanguagePicker_tag__WH5Ty {
        border-radius:4px;
        margin: 0 10px 10px 0
    }
}

.LanguagePicker_container__T01bp .LanguagePicker_tags__0s3fp .LanguagePicker_tag__WH5Ty .LanguagePicker_title__f4WgJ {
    padding: 9px 12px
}

.LanguagePicker_container__T01bp .LanguagePicker_tags__0s3fp .LanguagePicker_tag__WH5Ty .LanguagePicker_removeButton__7DQR6 {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    background-color: transparent;
    transition: none;
    padding: 0 10px
}

.LanguagePicker_container__T01bp .LanguagePicker_tags__0s3fp .LanguagePicker_tag__WH5Ty .LanguagePicker_removeButton__7DQR6:hover {
    background-color: hsla(0,0%,100%,.3)
}

.LanguagePicker_container__T01bp .LanguagePicker_tags__0s3fp .LanguagePicker_tag__WH5Ty .LanguagePicker_removeButton__7DQR6:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 26px;
    background-color: #fff
}

.LanguagePicker_container__T01bp .LanguagePicker_tags__0s3fp .LanguagePicker_tag__WH5Ty .LanguagePicker_removeButton__7DQR6 svg {
    width: 14px;
    height: 14px
}

.LanguagePicker_container__T01bp .LanguagePicker_tags__0s3fp .LanguagePicker_tag__WH5Ty .LanguagePicker_removeButton__7DQR6 svg path {
    fill: #fff
}

.NewModal_container__TIlG9 {
    max-width: 100%;
    width: 400px;
    padding: 24px
}

.NewModal_container__TIlG9 .NewModal_header__2Kgz0+* {
    margin-top: 32px
}

.NewModal_container__TIlG9 .NewModal_heading__vL2df {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -.02em;
    color: #101828;
    margin-bottom: 4px
}

.NewModal_container__TIlG9 .NewModal_description__zA39a {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #7c8da6
}

.NewModal_container__TIlG9 .NewModal_iconContainer__gCTSy {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 12px;
    margin-bottom: 24px;
    width: -moz-fit-content;
    width: fit-content
}

.NewModal_container__TIlG9 .NewModal_iconContainer__gCTSy .NewModal_icon__Hn0ov {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%
}

.NewModal_container__TIlG9.NewModal_info__2PsFI .NewModal_iconContainer__gCTSy {
    color: #3f8cff;
    background-color: rgba(63,140,255,.15);
    border: 8px solid #d1e4ff
}

.NewModal_container__TIlG9.NewModal_info__2PsFI .NewModal_iconContainer__gCTSy .NewModal_icon__Hn0ov {
    background-color: rgba(63,140,255,.4)
}

.NewModal_container__TIlG9.NewModal_success__VKKKZ .NewModal_iconContainer__gCTSy {
    color: #6fcf97;
    border: 8px solid #e6fff0;
    background-color: #c8facd;
    padding: 0
}

.NewModal_container__TIlG9.NewModal_success__VKKKZ .NewModal_iconContainer__gCTSy .NewModal_icon__Hn0ov {
    border: 0
}

.NewModal_container__TIlG9.NewModal_error__Eu8h1 .NewModal_iconContainer__gCTSy {
    color: #fc474a;
    background-color: rgba(252,71,74,.15);
    border: 8px solid #ffd7d7
}

.NewModal_container__TIlG9.NewModal_error__Eu8h1 .NewModal_iconContainer__gCTSy .NewModal_icon__Hn0ov {
    background-color: rgba(252,71,74,.4)
}

.NewModal_container__TIlG9.NewModal_warning__DK389 .NewModal_iconContainer__gCTSy {
    color: #ffc727;
    background-color: rgba(255,199,39,.15)
}

.NewModal_container__TIlG9.NewModal_warning__DK389 .NewModal_iconContainer__gCTSy .NewModal_icon__Hn0ov {
    background-color: rgba(255,199,39,.4)
}

.NewInput_label__NFjFf {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -.03em;
    color: #111;
    margin-bottom: 6px
}

.NewInput_label__NFjFf.NewInput_disabled__69p9g {
    color: #7c8da6
}

.NewInput_inputWrapper__uao3A {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 53px;
    position: relative;
    background-color: #f5f7f9;
    border-radius: 8px;
    border: 1px solid transparent
}

.NewInput_inputWrapper__uao3A:focus-within {
    border-color: #3f8cff
}

.NewInput_inputWrapper__uao3A.NewInput_error__HsrQI {
    border-color: #fc474a;
    background-image: url(/images/icons/danger-circle.svg);
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 20px
}

.NewInput_inputWrapper__uao3A.NewInput_error__HsrQI.NewInput_hasEndAdornment__tll_h {
    background: none
}

.NewInput_inputWrapper__uao3A .NewInput_endAdornment__wYjRC,.NewInput_inputWrapper__uao3A .NewInput_startAdornment__Pf0jQ {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.NewInput_inputWrapper__uao3A .NewInput_endAdornment__wYjRC>:first-child,.NewInput_inputWrapper__uao3A .NewInput_startAdornment__Pf0jQ>:first-child {
    width: 20px;
    height: 20px
}

.NewInput_inputWrapper__uao3A .NewInput_startAdornment__Pf0jQ {
    left: 16px
}

.NewInput_inputWrapper__uao3A .NewInput_endAdornment__wYjRC {
    right: 16px
}

.NewInput_inputWrapper__uao3A .NewInput_input__LLZ3E {
    width: 100%;
    height: 100%;
    left: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #111;
    background-color: transparent;
    border-radius: 8px;
    padding: 16px
}

.NewInput_inputWrapper__uao3A .NewInput_input__LLZ3E::placeholder {
    color: #a5b4cb
}

.NewInput_inputWrapper__uao3A .NewInput_input__LLZ3E:disabled {
    color: #7c8da6
}

.NewInput_inputWrapper__uao3A .NewInput_input__LLZ3E.NewInput_hasStartAdornment__r36ra {
    padding-left: 44px
}

.NewInput_inputWrapper__uao3A .NewInput_input__LLZ3E.NewInput_hasEndAdornment__tll_h {
    padding-right: 44px
}

.NewInput_inputWrapper__uao3A .NewInput_input__LLZ3E:-webkit-autofill,.NewInput_inputWrapper__uao3A .NewInput_input__LLZ3E:-webkit-autofill:active,.NewInput_inputWrapper__uao3A .NewInput_input__LLZ3E:-webkit-autofill:focus,.NewInput_inputWrapper__uao3A .NewInput_input__LLZ3E:-webkit-autofill:hover {
    -webkit-box-shadow: inset 0 0 0 30px #f5f7f9!important
}

.NewInput_inputWrapper__uao3A .NewInput_input__LLZ3E::-webkit-inner-spin-button,.NewInput_inputWrapper__uao3A .NewInput_input__LLZ3E::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.NewInput_inputWrapper__uao3A .NewInput_input__LLZ3E[type=number] {
    -moz-appearance: textfield
}

.NewInput_helpText__Trs3_ {
    color: #a5b4cb
}

.NewInput_errorText__qm7G_,.NewInput_helpText__Trs3_ {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    margin-top: 6px
}

.NewInput_errorText__qm7G_ {
    color: #fc474a
}

.NewInput_hiddenText__qM_YW {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: transparent;
    opacity: 0;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin-top: 6px
}

.NewTextarea_container__QOmD1 .NewTextarea_label__EN7xL {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -.02em;
    color: #111;
    margin-bottom: 6px
}

.NewTextarea_container__QOmD1 .NewTextarea_formGroup__8iOS_ {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 127px;
    border-radius: 8px;
    background-color: #f5f7f9;
    border: 1px solid transparent;
    padding: 16px
}

.NewTextarea_container__QOmD1 .NewTextarea_formGroup__8iOS_.NewTextarea_error__cjl_3 {
    border-color: #fc474a
}

.NewTextarea_container__QOmD1 .NewTextarea_formGroup__8iOS_ .NewTextarea_textarea__vWwlB {
    width: 100%;
    height: 120px;
    font-weight: 500;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -.02em;
    color: #111;
    resize: none;
    border: none;
    outline: none;
    z-index: 1
}

.NewTextarea_container__QOmD1 .NewTextarea_formGroup__8iOS_ .NewTextarea_textarea__vWwlB::placeholder {
    color: #a5b4cb
}

.NewTextarea_container__QOmD1 .NewTextarea_formGroup__8iOS_ .NewTextarea_textarea__vWwlB:focus~.NewTextarea_label__EN7xL,.NewTextarea_container__QOmD1 .NewTextarea_formGroup__8iOS_ .NewTextarea_textarea__vWwlB:not(:empty)~.NewTextarea_label__EN7xL {
    font-size: 12px;
    top: 8px
}

.NewTextarea_container__QOmD1 .NewTextarea_helpText__9RCv_ {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #a5b4cb;
    margin-top: 6px
}

.NewTextarea_container__QOmD1 .NewTextarea_errorText__bLu72 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #fc474a;
    margin-top: 6px
}

.NewTextarea_container__QOmD1 ::-webkit-scrollbar {
    background-color: #fff;
    width: 16px
}

.NewTextarea_container__QOmD1 ::-webkit-scrollbar-track,.NewTextarea_container__QOmD1 ::-webkit-scrollbar-track:hover {
    background-color: #fff
}

.NewTextarea_container__QOmD1 ::-webkit-scrollbar-thumb {
    background-color: rgba(165,180,203,.24)!important;
    border: 4px solid transparent!important;
    border-radius: 8px;
    background-clip: padding-box
}

.NewTextarea_container__QOmD1 ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(165,180,203,.24);
    border: 4px solid #f1f1f1
}

.NewTextarea_container__QOmD1 ::-webkit-scrollbar-button {
    display: none
}

.SkillSuggestionModal_form__NfevK {
    display: grid;
    margin-bottom: 32px
}

.SkillSuggestionModal_buttonsContainer__ZeVkp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px
}

@media(max-width: 500px) {
    .SkillSuggestionModal_buttonsContainer__ZeVkp {
        grid-template-columns:1fr
    }

    .SkillSuggestionModal_buttonsContainer__ZeVkp>:first-child {
        order: 1
    }
}

.AddNewSkillButton_container__OSqrs {
    text-align: left;
    color: #a5b4cb;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -.02em
}

.AddNewSkillButton_container__OSqrs .AddNewSkillButton_button__ujjyG {
    color: #3f8cff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -.02em;
    background-color: transparent;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    padding: 0
}

.AddNewSkillButton_container__OSqrs .AddNewSkillButton_button__ujjyG:hover {
    -webkit-text-decoration-line: none;
    text-decoration-line: none
}

.customcheckbox_container__wNHRo {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding-left: 27px;
    margin-left: 6px
}

.customcheckbox_labelText__KFMmz {
    color: #8692a6;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px
}

.customcheckbox_container__wNHRo input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.customcheckbox_checkmark__36Jm9 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    background-color: transparent;
    border: 2px solid #8692a6;
    border-radius: 3px
}

.customcheckbox_container__wNHRo:hover input~.customcheckbox_checkmark__36Jm9 {
    background-color: #dee1e7
}

.customcheckbox_container__wNHRo input:checked~.customcheckbox_checkmark__36Jm9 {
    background-color: transparent;
    border-color: #475467
}

.customcheckbox_container__wNHRo input:checked~.customcheckbox_labelText__KFMmz {
    color: #475467
}

.customcheckbox_checkmark__36Jm9:after {
    content: "";
    position: absolute;
    display: none
}

.customcheckbox_container__wNHRo input:checked~.customcheckbox_checkmark__36Jm9:after {
    display: block
}

.customcheckbox_container__wNHRo .customcheckbox_checkmark__36Jm9:after {
    left: 4px;
    top: 1px;
    width: 3px;
    height: 7px;
    border: solid #475467;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg)
}

.BackButton_button__NH1Ar {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #475467;
    background-color: rgba(165,180,203,.239);
    border-radius: 18px;
    transition: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 16px
}

.BackButton_button__NH1Ar:hover {
    color: #3f8cff;
    background-color: #fff
}

.BackButton_button__NH1Ar:hover svg path {
    fill: #3f8cff
}

.BackButton_button__NH1Ar span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px
}

.BackButton_button__NH1Ar span svg {
    width: 12px;
    height: 12px
}

.BackButton_button__NH1Ar span svg path {
    fill: #475467
}

.BackButton_button__NH1Ar.BackButton_secondary__PZUWd {
    color: #fff;
    background-color: #073746
}

.BackButton_button__NH1Ar.BackButton_secondary__PZUWd svg path {
    fill: #fff
}

.BackButton_button__NH1Ar.BackButton_transparent__Uiy3r {
    color: #fff;
    background-color: rgba(65,66,77,.32);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px)
}

.BackButton_button__NH1Ar.BackButton_transparent__Uiy3r svg path {
    fill: #fff
}

.application_app__j1iBV {
    width: 100%;
    border-radius: 8px;
    background-color: #fff
}

.application_appBody__P4lEK {
    width: 100%;
    display: grid;
    grid-row-gap: 56px;
    padding: 40px
}

.application_appBody__P4lEK.application_inModal__3Wecn {
    padding: 32px 0
}

@media(max-width: 500px) {
    .application_appBody__P4lEK.application_inModal__3Wecn {
        padding:20px 0
    }
}

@media(max-width: 767px) {
    .application_appBody__P4lEK {
        padding:30px
    }
}

@media(max-width: 500px) {
    .application_appBody__P4lEK {
        grid-row-gap:46px;
        padding: 15px 15px 35px
    }
}

.application_appBody__P4lEK.application_applicationPreview__WtyIw {
    padding: 40px
}

@media(max-width: 767px) {
    .application_appBody__P4lEK.application_applicationPreview__WtyIw {
        padding:30px
    }
}

@media(max-width: 500px) {
    .application_appBody__P4lEK.application_applicationPreview__WtyIw {
        padding:15px 15px 35px
    }
}

.application_appBody__P4lEK.application_applicationPreview__WtyIw .application_backButton__cNTQL {
    display: inline-flex;
    justify-self: flex-start;
    margin-bottom: -24px
}

.application_appBody__P4lEK .application_buttonsContainer__9Ef0u {
    display: flex;
    flex-wrap: wrap;
    margin-top: -16px
}

.application_appBody__P4lEK .application_buttonsContainer__9Ef0u>* {
    margin: 16px 16px 0 0
}

@media(max-width: 400px) {
    .application_appBody__P4lEK .application_buttonsContainer__9Ef0u {
        flex-direction:column;
        width: 100%
    }
}

.application_app__j1iBV .application_noAppWrapper__l4l0B {
    text-align: center
}

.application_app__j1iBV .application_noAppWrapper__l4l0B p {
    margin-bottom: 20px
}
